{% extends 'base_generator.html' %}


{% block head %}
    <link rel="stylesheet" href="{% static 'polling_system/main.css' %}">
    <title>Anything</title>
{% endblock %}



{% block content %}
    <h1>Political Parties</h1>
    <ul>
        {% for party in political_parties %}
            <li>
                <strong>Title:</strong> {{ party.title }}<br>
                <strong>Leader:</strong> {{ party.leader.user.first_name }} {{ party.leader.user.family_name }}<br>
                <strong>Ideology:</strong> {{ party.ideology }}<br>
                <!-- Add more party details as needed -->
            </li>
        {% endfor %}
    </ul>

    <h1>Candidates</h1>
    <ul>
        {% for candidate in candidates %}
            <li>
                <strong>Name:</strong> {{ candidate.user.first_name }} {{ candidate.user.family_name }}<br>
                <strong>Party:</strong> {{ candidate.party.title }}<br>
                <strong>Biography:</strong> {{ candidate.biography }}<br>
                <!-- Add more candidate details as needed -->
            </li>
        {% endfor %}
    </ul>

    <h1>Polls</h1>
    <ul>
        {% for poll in polls %}
            <li>
                <strong>Title:</strong><a href="{% url 'poll_detail' poll.id %}">{{ poll.title }}</a><br>
                <strong>Description:</strong> {{ poll.description }}<br>
                <strong>Start Date:</strong> {{ poll.start_date }}<br>
                <strong>End Date:</strong> {{ poll.end_date }}<br>
                <!-- Add more poll details as needed -->
            </li>
        {% endfor %}
    </ul>

    <h1>Votes</h1>
    <ul>
        {% for vote in votes %}
            <li>
                <strong>Voter ID:</strong> {{ vote.voter_id }}<br>
                <strong>Voted Candidate:</strong> {{ vote.voted_candidate_id }}<br>
                <strong>Poll ID:</strong> {{ vote.poll_id }}<br>
                <!-- Add more vote details as needed -->
            </li>
        {% endfor %}
    </ul>
{% endblock %}